{{!< ../default}}

    {{#if @member}}
        <article class="post-content">
            <header class="post-content-header">
                <h1 class="post-content-title">Welcome back!, {{@member.email}}</h1>
            </header>

            <h1>{{@member.name.username}}</h1>
            <div class="post-content-body">                
                    <form method="post" action="#">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" value="" placeholder="Username" disabled/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label for="vpn-plan">Your Plan</label>
                            <input type="text" name="vpn-plan" id="vpn-plan" value="" placeholder="VPN Plan" disabled/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label for="qr-link">QR Link</label>
                            <img src="https://chart.googleapis.com/chart?cht=qr&chl=test&chs=180x180&choe=UTF-8&chld=L|2" alt="" style="display: block;" id="qr-link">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label for="config-link">Configuration Link</label>
                            <a href="#" class="button primary" id="config-link">🗝️ Download Configuration</a>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label for="expired-at">Subscription Expiration</label>
                            <input type="text" name="expired-at" id="expired-at" value="" placeholder="Expired At" disabled/>
                        </div>
                        <div id="tmp" style="visibility: hidden;">{{@member.name}}</div>
                    </div>
                </form>
            </div>
        </article>

    {{else}}
        {{!-- Not logged in: Redirect to signin --}}
        <script>window.location = '{{@site.url}}/signin/';</script>
    {{/if}}
    
{{#contentFor "scripts"}}

{{/contentFor}}